<h1>Available resources</h1>
<ul>
  <li><%= link_to 'Countries', countries_path %></li>
  <li><%= link_to 'Vaccines', vaccines_path %></li>
  <li><%= link_to 'Inoculations', inoculations_path %></li>
</ul>
